/* copied from here: https://github.com/JonUK/eleventy-blog/blob/master/css/site.css */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  box-sizing: border-box;

  /* set for dark theme*/
  background-color: #fefaef;
}

.reveal section img {
  border: none;
  box-shadow: none;
  max-height: calc(66vh);
  max-width: calc(66vw);
}

:root {
  /* Font family, size, weight, color */
  --font-family: Helvetica, Veranda, sans-serif;
  --font-size: 1.25rem;
  --title-font-weight: 400;
  --body-font-weight: 200;
  --heading-color: rgb(0, 0, 0);
  --body-color: rgb(0, 0, 0);
  --line-height: 1.4em;
  /* Page alignment, margin, padding */
  --text-align: left;
  --max-width: 820px;
  --full-width: 90vw;
  --margin: auto;
  --padding-left: 15px;
  --padding-right: 15px;
  --section-padding-top: 0.5em;
  --content-title-size: 18px;
  --content-title-padding-top: 0.25em;
  /* Link decoration */
  --underline-color: #fee69f;
  --underline-highlight-color: #fdd45b;
  --details-disclose-color: #fff6dd;
  --highlight-color: rgba(254, 230, 159, 0.5);
  --line-type: underline;
  --line-thickness: 7%;
  --active-line-thickness: 10%;
  /* Animation (link, background, etc. */
  --animation-duration: 0.3s;
  --animation-fill-mode: both;
  --border-thin: thin solid #0000002a;
  --border-thick: thin solid #000000;
  --table-font-size: 1rem;
}

/* Animation keyframes */

@keyframes fade {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

@keyframes link {
  from {
    text-decoration-color: var(--underline-color);
    text-decoration-thickness: var(--line-thickness);
  }
  to {
    text-decoration-color: var(--underline-highlight-color);
    text-decoration-thickness: calc(var(--active-line-thickness) * 1.5);
  }
}

/* unvisited link */
a:link {
  color: var(--body-color);
  text-decoration-color: var(--underline-color);
  text-decoration-line: var(--line-type);
  text-decoration-thickness: var(--line-thickness);
  background: none;
}

/* visited link */
a:visited {
  color: var(--body-color);
  text-decoration-color: var(--underline-color);
  text-decoration-line: var(--line-type);
  text-decoration-thickness: var(--line-thickness);
  background: none;
}

/* mouse over link */
a:hover {
  animation-name: link;
  animation-duration: var(--animation-duration);
  animation-fill-mode: var(--animation-fill-mode);
  background: none;
}

/* link clicking */
a:active {
  color: var(--body-color);
  text-decoration-color: var(--underline-color);
  background: none;
}

/* Site title (the banner across the top) */

.site_title_name {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--title-font-weight);
  max-width: var(--max-width);
  margin: var(--margin);
  padding-left: var(--padding-left);
  padding-top: 2em;
  padding-bottom: 1em;
  padding-right: var(--padding-right);
  color: var(--heading-color);
}

/* Page title (for posts, pages, etc) */

.page_title {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--title-font-weight);
  max-width: var(--max-width);
  margin: var(--margin);
  padding-top: 2em;
  padding-bottom: 1em;
}

main {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--body-color);
  font-weight: var(--body-font-weight);
  max-width: var(--max-width);
  margin: var(--margin);
  padding-left: var(--padding-left);
  padding-bottom: 1em;
  padding-right: var(--padding-right);
  line-height: var(--line-height);
}

.post-title {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  column-gap: 1rem;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--body-font-weight);
  padding-top: var(--content-title-padding-top);
  color: var(--heading-color);
}

time {
  color: var(--heading-color);
  font-size: calc(var(--font-size) * 0.75);
  font-weight: var(--body-font-weight);
  background: none;
}

.post-title time {
  justify-self: end;
}

.about-me {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--body-font-weight);
  padding-top: 2em;
  padding-bottom: 1em;
}

.overview-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.overview-section {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  min-width: 225px;
  flex-grow: 2;
  padding: 0 1rem 0 0;
}

.overview-title {
  color: var(--heading-color);
}

.overview-text {
  font-size: calc(var(--font-size) * 0.9);
}

.description {
  margin: 2rem 0rem 2rem 0rem;
  font-size: calc(var(--font-size) * 0.9);
  padding: 0rem 2rem 0rem 2rem;
  border-left: 8px solid var(--underline-highlight-color);
  position: relative;
  margin: 2rem 0 0 0;
}

h1,
h2,
h3 {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--title-font-weight);
  padding-top: var(--section-padding-top);
}

h4,
h5,
h6 {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  padding-top: var(--section-padding-top);
}

p {
  background: none;
}

/* This keeps the image in its own line (block), sets the full body width (100% of 95%), and sets the max height to 85% of the height of the viewport (vh). 
Width and height of auto keep the aspect ratio constant. Now, portrait orientation photos aren't too tall on computers and aren't too short on phones (in portrait mode) */
img {
  display: block;
  max-width: 100%;
  max-height: 85vh;
  width: auto;
  height: auto;
  margin: auto;
}

.strava {
  max-width: 100%;
  margin: auto;
  padding: 1rem 0 0 0;
  display: block;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--body-font-weight);
  max-height: 2rem;
}

.name_link {
  flex-grow: 1;
}

.stats {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
}

.stats .svg-inline--fa {
  height: 1rem;
  margin: 0.5rem;
}
.words {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1 1 auto;
  max-height: 1rem;
  justify-content: flex-end;
}

.coffee {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex: 1 1 auto;
  max-height: 1rem;
  justify-content: flex-end;
}

blockquote {
  margin: 2rem 0rem 2rem 0rem;
  font-style: italic;
  font-size: calc(var(--font-size) * 0.9);
  padding: 0rem 2rem 0rem 2rem;
  border-left: 8px solid var(--underline-highlight-color);
  position: relative;
}

.page-separator {
  border: 0.5px solid;
  margin: 2.5rem;
}

/* summary and details below are for the details disclosure element, currently for the recently section. */

summary {
  display: flex;
  cursor: pointer;
}

summary::after {
  content: "⇢";
  padding-left: 0.5rem;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] {
  padding: 1rem;
  background-color: var(--details-disclose-color);
  border-radius: 0.5rem;
}

details[open] summary {
  background-color: var(--details-disclose-color);
  font-weight: var(--title-font-weight);
}

details div,
details h3,
details em {
  background-color: var(--details-disclose-color);
}

@media (prefers-color-scheme: dark) {
  * {
    --dark-text-color: #fdf6e1;
    background: #040300;
    --heading-color: var(--dark-text-color);
    --body-color: var(--dark-text-color);
    --underline-color: #6b5b25;
    --details-disclose-color: #2f2810;
  }
}

@media (max-width: 640px) {
  .post-title {
    grid-template-columns: 1fr;
  }
  .post-title time {
    justify-self: start;
  }
}

#chart svg {
  margin: 20px auto;
  display: block;
}

/* ---  */

/*
Name:   Duotone Earth
Author: Simurai, adapted from DuoTone themes for Atom (http://simurai.com/projects/2016/01/01/duotone-themes)

Conversion: Bram de Haan (http://atelierbram.github.io/Base2Tone-prism/output/prism/prism-base2tone-earth-dark.css)
Generated with Base16 Builder (https://github.com/base16-builder/base16-builder)

https://github.com/PrismJS/prism-themes/blob/master/themes/prism-duotone-earth.css, fromhttps://github.com/PrismJS/prism-themes?tab=readme-ov-file

*/

code[class*="language-"],
pre[class*="language-"] {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  /* background: #322d29; */
  color: var(--body-color);
}

pre > code[class*="language-"] {
  font-size: 1em;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #6f5849;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: #6f5849;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6a5f58;
}

.token.punctuation {
  color: #6a5f58;
}

.token.namespace {
  opacity: 0.7;
}

.token.tag,
.token.operator,
.token.number {
  color: #bfa05a;
}

.token.property,
.token.function {
  color: #88786d;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
  color: #fff3eb;
}

code.language-javascript,
.token.attr-name {
  color: #a48774;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
  color: #fcc440;
}

.token.placeholder,
.token.variable {
  color: #fcc440;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #fff3eb;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #a48774;
}

.token.entity {
  cursor: help;
}

pre > code.highlight {
  outline: 0.4em solid #816d5f;
  outline-offset: 0.4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers.line-numbers .line-numbers-rows {
  border-right-color: #35302b;
}

.line-numbers .line-numbers-rows > span:before {
  color: #46403d;
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight.line-highlight {
  background: rgba(191, 160, 90, 0.2);
  background: -webkit-linear-gradient(
    left,
    rgba(191, 160, 90, 0.2) 70%,
    rgba(191, 160, 90, 0)
  );
  background: linear-gradient(
    to right,
    rgba(191, 160, 90, 0.2) 70%,
    rgba(191, 160, 90, 0)
  );
}

.slides {
  overflow: scroll !important;
  pointer-events: auto !important;
}

#reveal.image present {
  background: red;
  background-color: rgba(4, 3, 0, 0.019);
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  vertical-align: center;
  border-top: var(--border-thin);
}

.overview {
  border-top: var(--border-thin);
}

.table-head {
  /* display: table-row; */
  font-size: var(--table-font-size);
  background-color: #0000000a;
  padding: 0.5rem;
  border-bottom: var(--border-thin);
  font-weight: var(--body-font-weight);
  overflow: clip;
  white-space: wrap;
  text-overflow: clip;
}

/* .table-body {
  display: table-row-group;
} */

.table-row {
  display: table-row;
  bottom: 1rem;
  line-height: var(--line-height);
}

.cell {
  padding: 0.33rem;
  text-align: left;
  vertical-align: middle;
  border-bottom: var(--border-thin);
  font-size: var(--table-font-size);
  overflow: clip;
  white-space: wrap;
  text-overflow: clip;
}

.cell time {
  font-size: var(--table-font-size);
  background: none;
}

.wide {
  width: 45%;
}

.narrow {
  max-width: 15%;
}

.labels {
  width: 33%;
  overflow: clip;
  white-space: wrap;
  text-overflow: ellipsis;
  font-size: var(--table-font-size);
}

.starred {
  background-color: var(--highlight-color);
}

.archived {
  background-color: #0000000a;
  font-style: italic;
}
